<!-- Google Code for &#1047;&#1072;&#1082;&#1072;&#1079; &#1087;&#1080;&#1094;&#1094;&#1099; Conversion Page -->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = {{ object.number }};
var google_conversion_language = "en";
var google_conversion_format = "3";
var google_conversion_color = "ffffff";
var google_conversion_label = "21GPCOaz7HQQs-aajgM";
var google_conversion_value = {{ object.get_total_price }};
var google_conversion_currency = "RUB";
var google_remarketing_only = false;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/835105587/?value=450.00&amp;currency_code=RUB&amp;label=21GPCOaz7HQQs-aajgM&amp;guid=ON&amp;script=0"/>
</div>
</noscript>
