{% extends "base.html" %}

{% load static i18n %}

{% block extra_head %}
    <link href="{% static "css/action.css" %}" rel="stylesheet">
    <script src="{% static "js/custom.js" %}" type="application/javascript"></script>
    <script src="{% static "angular.min.js" %}" type="application/javascript"></script>
    <script src="{% static 'angular-translate.js' %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static 'angucomplete.js' %}" type="text/javascript" charset="utf-8"></script>
    <link rel="stylesheet" href="{% static 'css/angucomplete.css' %}"/>
    <script src="{% static "modal.min.js" %}" type="application/javascript"></script>
    <script src="{% static "app/js/app.js" %}" type="application/javascript"></script>
    <script src="{% static "app/js/factory.js" %}" type="application/javascript"></script>
    <script src="{% static "app/js/controllers.js" %}" type="application/javascript"></script>

    <link href="{% static 'css/profile.css' %}" rel="stylesheet"/>
{% endblock extra_head %}

{% block content %}
<div class="action policy">
  <div class="action-left">
   <div class="action-main">
    <div class="action-content">
      <a name="persdannye"><h3>Согласие на обработку<br> персональных данных</h3></a><br>
      <p>Общество с ограниченной ответственностью «Джелато Амато» (ОГРН 1162367052440, адрес местонахождения: 354002, г. Сочи, ул. Парусная, д. 13) (далее - Компания) настоящим сообщает, что в рамках использования сайта по адресу в сети Интернет: <a href="http://pizzarally.ru">pizzarally.ru</a> (далее – Сайт), Компания запрашивает и собирает Ваши персональные данные.</p>
      <p>Компания подтверждает, что предпринимает все необходимые меры для соблюдения конфиденциальности Ваших персональных данных. Компания реализует ряд надлежащих мер безопасности с целью обеспечения защиты Ваших персональных данных от случайной утраты и несанкционированного доступа, использования или раскрытия, а также несет ответственность за процесс обработки Ваших персональных данных.</p>
      <p>Вы подтверждаете, что при использовании Сайта предоставляете согласие на обработку Компанией Ваших персональных данных (далее – Согласие) и подтверждаете, что, давая такое согласие, Вы действуете своей волей и в своем интересе. В соответствии с Федеральным законом от 27.07.2006 № 152-ФЗ «О персональных данных», Вы согласны, при необходимости, во время заполнения информации при регистрации на Сайте предоставить следующую информацию, которая относится к Вашей личности: Фамилия; Имя; e-mail; номер телефона; ссылки на социальные сети.</p>
      <p>Данное Согласие предоставляется Вами в целях организации предоставления доступа к заказу продукции Компании через Сайт.</p>
      <p>Вы выражаете согласие на осуществление со всеми указанными персональными данными следующих действий: сбор, систематизация, накопление, хранение, уточнение (обновление или изменение), использование, обезличивание, блокирование, уничтожение, передача, а также осуществление любых иных действий с Вашими персональными данными в соответствии с действующим законодательством Российской Федерации. Обработка персональных данных может осуществляться с использованием средств автоматизации, а также без их использования (при неавтоматической обработке).</p>
      <p>При обработке персональных данных Компания не ограничена в применении способов их обработки.</p>
      <p>Согласие на обработку персональных данных распространяется исключительно на те персональные данные, которые обрабатываются в рамках использования Сайта.</p>
      <p>Вы выражаете согласие на осуществление Компанией обратной связи с Вами, включая: направление запросов и информации, которая касается использования Сайта; направление уведомлений, включая уведомления (рассылки) о новостях и продуктах Компании, обработку заявок на заказ товаров.</p>
      <p>В любой момент и на безвозмездной основе, Вы, как зарегистрированный пользователь Сайта, вправе отказаться от получения специальных уведомлений (рассылок) и иной информации о продуктах и услугах Компании, используя специальную процедуру отказа от таких рассылок, предусмотренную Компанией и указанную непосредственно в тексте соответствующих рассылок.</p>
      <p>Компания вправе в любой момент без предварительного уведомления пользователей изменять, дополнять или обновлять текст настоящего Согласия в той или иной части. В том случае, если в настоящее Согласие будут внесены изменения, такое Согласие подлежит размещению на Сайте, а соответствующие изменения вступают в силу в течение 20 (Двадцати) дней с момента официальной публикации новой редакции Согласия на Сайте. Если в течение таких 20 (Двадцати) дней Вы в письменной форме не заявите отказ от принятия изменений, то это означает Ваше принятие Согласия в новой редакции. Компания рекомендует регулярно просматривать текст настоящего Согласия, чтобы Вы были своевременно информированы о любых изменениях и датах вступления в силу таких изменений. Действующая редакция Согласия постоянно доступна на странице Сайта по адресу: <a href="http://pizzarally.ru">pizzarally.ru/policy/</a>.</p>
      <p>Для получения более подробной информации о процессе обработки Компанией Ваших персональных данных, исправлении, блокировке или удаления любых Ваших персональных данных, получении доступа к Вашим персональным данным, отмене Вашего согласия на определенные виды обработки персональных данных, удаления Вашего адреса электронной почты из списков адресов в нашей базе данных, а также для направления вопросов, замечаний или предложений, касающихся настоящего Согласия, Вы можете связываться с Компанией по следующему адресу электронной почты Gelatoamato@gmail.com или направить письмо по адресу: 354002, г. Сочи, ул. Черноморская, д. 13Г, помещение 47.</p>
      <p>Вы предоставляете согласие на обработку Ваших персональных данных в течение срока взаимодействия с Сайтом и наличия вашего профиля на Сайте. Вы можете в любой момент отозвать согласие на обработку персональных данных посредством письменного уведомления Компании по адресу электронной почты Gelatoamato@gmail.com или на адрес: 354002, г. Сочи, ул. Черноморская, д. 13Г, помещение 47, с пометкой «Отзыв согласия на обработку персональных данных», при этом вы осознаете, что, отзыв такого согласия влечёт за собой удаление Вашей учётной записи с Сайта, а также уничтожение записей, содержащих Ваши персональные данные, что повлечет невозможность использования Вами Сайта.</p>
      <p>В процессе использования Сайта, после заполнения форм с Вашими персональными данными, нажимая соответствующую кнопку (а именно: «отправить код», «войти», «отправить», «редактировать», «сохранить», «Шаг 2. Оформление», «Шаг 3. Завершение» и их англоязычные аналоги в англоязычной версии Сайта), Вы подтверждаете, что предоставляете Компании свое согласие на обработку Ваших персональных данных.</p>
    </div>
  </div>
   <!--<div class="action-main">
    <div class="action-content">
      <h3>Политика возврата средств</h3><br>
  </div>
  </div>-->
   <div class="action-main">
    <div class="action-content">
      <a name="oplata"><h3>Способы оплаты:</h3></a><br>
      <p><b>Наличный расчёт</b><br>
         Если товар доставляется курьером, то оплата осуществляется наличными курьеру в руки, либо банковской картой через мобильный терминал курьера. 
      <br><br>
      <b>Банковской картой</b><br>
         Для выбора оплаты товара с помощью банковской карты на соответствующей странице необходимо нажать кнопку «Оплата заказа банковской картой». Оплата происходит через ПАО СБЕРБАНК с использованием Банковских карт следующих платежных систем:<br><br>
         МИР<br>
         VISA International<br>
         Mastercard Worldwide</p>
  </div>
  </div>
   <div class="action-main">
    <div class="action-content">
      <a name="rekvizity"><h3>Реквизиты компании:</h3></a><br>
      <p>ООО «Джелато Амато»<br>
      ОГРН: 1162367052440<br>
      ИНН: 2319060978<br>
      КПП: 231901001<br>
      Адрес местонахождения: 354002, г. Сочи, ул. Парусная, д. 13<br>
      Почтовый адрес: 354002, г. Сочи, ул. Черноморская, д. 13Г, помещение 47
      <br><br>
      Email: gelatoamato@gmail.com<br>
      Телефон: +7 (862) 258-33-88</p>
  </div>
  </div>
</div>
<div class="action-right">
  <div class="action-active act-act-mar">
    <div class="action-header">
      <span>{% trans "Active actions" %}</span>
    </div>
    <div class="action-news" ng-repeat="actionItem in activeList">
      <img src="{% static 'img/sale-24.png' %}">
      <div>
        <span ng-bind='actionItem.title'></span>
        <span ng-bind="getActionDate(actionItem)"></span>
      </div>
    </div>
    <div class="action-border"></div>
  </div>
  <div class="action-active">
    <div class="action-header">
      <span>{% trans "Expired actions" %}</span>
    </div>
    <div class="action-news" ng-repeat="actionItem in expiredList">
      <img src="{% static 'img/sale-24.png' %}">
      <div>
        <span ng-bind="actionItem.title"></span>
        <span>{% trans "Action is expired" %}</span>
      </div>
    </div>
    <div class="action-border"></div>
  </div>
</div>
</div>
{% endblock content %}