{% extends "base.html" %}

{% load static %}

{% block extra_head %}
    <script src="{% static "js/custom.js" %}" type="application/javascript"></script>
    <script src="{% static "angular.min.js" %}" type="application/javascript"></script>
    <script src="{% static 'angular-translate.js' %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static 'angucomplete.js' %}" type="text/javascript" charset="utf-8"></script>
    <link rel="stylesheet" href="{% static 'css/angucomplete.css' %}"/>
    <script src="{% static "modal.min.js" %}" type="application/javascript"></script>
    <script src="{% static "app/js/app.js" %}" type="application/javascript"></script>
    <script src="{% static "app/js/factory.js" %}" type="application/javascript"></script>
    <script src="{% static "app/js/controllers.js" %}" type="application/javascript"></script>
{% endblock extra_head %}

{% block content %}
    <div ng-controller="profileCtrl" style="margin-top: 90px" class="profile" ng-include="profileTplUrl"></div>
{% endblock content %}