{% load i18n %}
{% trans "Contacts" %}
{% trans "Close window" %}
{% trans "Delivery" %}
{% trans "Close window" %}
{% trans "Time work store" %}
{% trans "Orders are accepted online and by phone" %}
{% trans "Payment by cash or Bank transfer" %}
{% trans "Our pizzeria has a certain delivery area. You can see below" %}
{% trans "rub" %}
{% trans "Add to cart" %}
{% trans "Profile loading" %}
{% trans "Main info" %}
{% trans "Save" %}
{% trans "Edit" %}
{% trans "PizzaRally does not publish any data without your permission." %}
{% trans "Name" %}
{% trans "Phone" %}
{% trans "Password change is available" %}
{% trans "Password change" %}
{% trans "Old password" %}
{% trans "Type new password" %}
{% trans "Retype new password" %}
{% trans "Order history" %}
{% trans "You have not made purchases!" %}
{% trans "View status" %}
{% trans "Social networks" %}
{% trans "To relate with VK" %}
{% trans "To relate" %}
{% trans "To relate with Facebook" %}
{% trans "To relate with Twitter" %}
{% trans "To relate with Google+" %}
{% trans "Cart" %}
{% trans "No items" %}
{% trans "Clean" %}
{% trans "Go to order" %}
{% trans "Favorites" %}
{% trans "You have not favorite products" %}
{% trans "Sign in form" %}
{% trans "Phone number" %}
{% trans "Type password" %}
{% trans "If You have not changed password of an account, the code is" %}
{% trans "a confirmation of the SMS, which was" %}
{% trans "sent during registration" %}
{% trans "Forgot password?" %}
{% trans "Sign in" %}
{% trans "What is your name" %}
{% trans "Phone number" %}
{% trans "Are you have an account?" %}
{% trans "to reset the code" %}
{% trans "User registration" %}
{% trans "Sign in form" %}
{% trans "To confirm" %}
{% trans "Send code" %}
{% trans "Enter code from SMS message below" %}
{% trans "To password reminder, enter the phone number" %}
{% trans "Phone number" %}
{% trans "Send" %}
{% trans "Password recover" %}
{% trans "Delivery don't work now" %}
{% trans "For payment" %}
{% trans "Cart is empty" %}
{% trans "For payment" %}
{% trans "Next" %}
{% trans "Step 1. Cart" %}
{% trans "Step 2. Order registration" %}
{% trans "Step 3. Finalize" %}
{% trans "Cart loading" %}
{% trans "step 2. Order registration" %}
{% trans "step 3. Finalize" %}
{% trans "Account registration" %}
{% trans "Go to Sign up" %}
{% trans "Registration will take no more than a minute" %}
{% trans "Without Sign Up" %}
{% trans "Olympic Park, building the main tribune" %}
{% trans "Pickup" %}
{% trans "Delivery" %}
{% trans "Arena" %}
{% trans "Address" %}
{% trans "Select the arena" %}
{% trans "Tribune" %}
{% trans "Row number" %}
{% trans "Seat number" %}
{% trans "Street" %}
{% trans "House" %}
{% trans "Landmark" %}
{% trans "Comment" %}
{% trans "Cash" %}
{% trans "Card" %}
{% trans "Invalid username/password, try again" %}
{% trans "Internal server error" %}
{% trans "The password will be sent to You by sms" %}
{% trans "Too frequent requests" %}
{% trans "Incorrect sent data" %}
{% trans "Phone was not found" %}
{% trans "This number is already registered" %}
{% trans "Error loading profile" %}
{% trans "Passwords didn't match" %}
{% trans "Profile was updated" %}
{% trans "Error saving profile" %}
{% trans "By clicking the button above, you consent to the processing" %}
{% trans "of personal data" %}
{% trans "Total" %}
{% trans "Min order price" %}
{% trans "Error creating order" %}
